* {
  box-sizing: border-box;
}

body {
  background-image: url("Assets/unsplash-trees.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #cccccc;
  display: block;
}

.container .navbar-light {
  background-color: #ffffff;
}

.col-lg-8 {
  background-color: #ffffff;
}

.col-lg-8 input {
  width: 97%;
}

#message {
  height: 150px;
  width: 97%;
}

#submit {
  width: 75px;
}

.col-lg-3 {
  background-color: #ffffff;
  text-align: center;
  height: 155px;
}

#footer {
  background-color: #ffffff;
  height: 50px;
  width: 100%;
  text-align: center;
  padding: 15px 0px 0px 15px;
}

img {
  float: left;
}