/* MAE'S */

* {
  box-sizing: border-box;
}

body {
  background-image: url("Assets/unsplash-trees.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #cccccc;
  display: block;
  min-height: 100vh;
}

.container {
  justify-content: center;
}

.container .navbar-light {
  background-color: #ffffff;
}

.col-md-6 {
  background-color: #ffffff;
}

.col-md-6 input {
  height: 30px;
  width: 97%;
  margin-bottom: 10px;
}

#name[type=text] {
  padding-left: 4px;
  font-size: 14px;
  opacity: 0.7;
}

#email[type=text] {
  padding-left: 4px;
  font-size: 14px;
  opacity: 0.7;
}

#message {
  height: 150px;
  width: 97%;
  margin-bottom: 10px;
}

#submit {
  background: #2b2118;
  color: #ffffff;
  height: 30px;
  width: 75px;
  border: none;
  font-size: 14px;
  margin-top: 5px;
}

#submit:hover {
  background-color: #6f1a07;
}

.col-md-4 {
  background-color: #ffffff;
  text-align: center;
  height: 175px;
}

/* #footer {
  background-color: #ffffff;
  height: 50px;
  width: 100%;
  text-align: center;
  padding: 15px 0px 0px 15px;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.text-wrap {
  float: left;
  height: 200px;
  margin: 10px;
}
/* 
.col-lg-4 {
  float: left;
} */

/* ul {
  padding: 0px;
}

#portfolio li {
  list-style: none;
  width: 90%;
  height: 90%;
  margin: 15px 5px 20px 5px;
}

#portfolio img {
  width: 100%;
  height: auto;
} */

.fixed-bottom .footer-position {
  background-color: #d3d3d3;
  color: #6c757d!important;
  opacity: 0.5;
  text-align: right;
}

/* .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: purple;
} */

/* .container-footer {
  width: auto;
  padding: 0px 15px;
} */

/* .text-muted {
  color: #6c757d!important;
} */

.card-contact {
  align-content: center;
}

.card-connect {
  align-content: center;
}

.thumbnail {
  align-content: center;
  object-fit: cover;
}

/* .my-col {
  margin: 10px;
} */

/* #contact {
  width: 100%;
} */

.blank-card {
  opacity: 1;
}
