/* THE CSS BELOW APPLIES ACROSS ALL HTML PAGES: index.html, contact.html, and portfolio.html */
body {
  background-color: #90EE90;
  background: linear-gradient(to right, #98FB98, #C8F7C5);
  font-family: 'Alata', sans-serif;
  min-height: 400px;
  margin-bottom: 100px;
  clear: both;
}

.navbar-light {
  background-color: #20603C;
  width: 100%;
}

.footer {
  padding-top: 1em;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #20603C;
  color: #ffffff;
  text-align: center;
}

h2 {
  color: #ffffff;
  font-weight: bold;
}

.nav-link {
  font-weight: bold;
}

h5 {
  color: #d1ffd2;
  margin-top: 7px;
}

.col-md-3 {
  text-align: center;
}

.card-header {
  background-color: #20603C;
  color: #ffffff;
}

.col-md-4 h3 {
  font-weight: bold;
  color: #2b2118;
}

span {
  color: #ffffff;
}

.footer-text {
  color: #ffffff;
}


/* ALL CSS BELOW IS FOR THE HOME/ABOUT ME PAGE */
h1, p {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* ALL CSS BELOW IS FOR THE CONTACT PAGE */
.contact-header {
  color: #000000;
}

.form-group {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

.btn {
  background-color: #20603C;
  color: #ffffff;
  margin-left: 20px;
}

.col-md-2 {
  margin: 20px;
}

.fa-github-alt {
  font-size: 50px;
  background-color: #ffffff;
  color: #000000;
  padding: 5px;
}

.fa-linkedin-in {
  font-size: 50px;
  background-color: #ffffff;
  color: #2867B2;
  padding: 5px;
}

.fa-file {
  font-size: 50px;
  background-color: #ffffff;
  color: #000000;
  padding: 5px;
}

/*ALL CSS BELOW IS FOR THE PORTFOLIO PAGE */
#portfolio {
  margin-top: 15px;
}

.card-examples {
  background-color: #20603C;
}

.examples {
  background-color: #20603C;
}

.card-link {
  color: #ffffff;
}