/* THE CSS BELOW APPLIES ACROSS ALL HTML PAGES: index.html, contact.html, and portfolio.html */
body {
  /* background-image: url("Images/unsplash-trees.jpg"); */
  background-color: #90EE90;
  background: linear-gradient(to right, #98FB98, #C8F7C5);
  /* background: linear-gradient(to right, #98FB98, #1F3A93); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  font-family: 'Alata', sans-serif;
  min-height: 400px;
  margin-bottom: 100px;
  clear: both;
  /* margin-top: auto; */
}

#page-content {
  flex: 1 0 auto;
}

.navbar-light {
  background-color: #20603C;
  width: 100%;
}

.footer {
  padding-top: 1em;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #20603C;
  color: #ffffff;
  text-align: center;
}

h2 {
  color: #ffffff;
  font-weight: bold;
}

h5 {
  color: #d1ffd2;
  margin-top: 7px;
}

.nav-link {
  font-weight: bold;
}

.col-md-3 {
  text-align: center;
}

.card-header {
  background-color: #20603C;
  color: #ffffff;
}

.fa-github-alt {
  font-size: 50px;
  background-color: #ffffff;
  color: #000000;
  padding: 5px;
}

.fa-linkedin-in {
  font-size: 50px;
  background-color: #ffffff;
  color: #2867B2;
  padding: 5px;
}

.fa-file {
  font-size: 50px;
  background-color: #ffffff;
  color: #000000;
  padding: 5px;
}

/* .col-md-4 {
  background-color: #ffffff;
  text-align: center;
  height: 175px;
} */

.col-md-4 h3 {
  font-weight: bold;
  color: #2b2118;
}

/* footer {
  background-color: #2b2118;
  color: #000000;
  height: 50px;
  opacity: 0.5;
  text-align: center;
  font-size: 15px;
  padding: 15px;
  margin-top: auto;
} */

/* #sticky-footer {
  flex-shrink: none;
}

footer {
  background-color: #20603C;
  position: fixed!important;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
} */

span {
  color: #ffffff;
}

.footer-text {
  color: #ffffff;
}


/* ALL CSS BELOW IS FOR THE ABOUT ME PAGE */
h1, p {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* ALL CSS BELOW IS FOR THE CONTACT PAGE */
.contact-header {
  color: #000000;
}

.form-group {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

.btn {
  background-color: #20603C;
  color: #ffffff;
  margin-left: 20px;
}

.col-md-2 {
  margin: 20px;
}

/* The following three classes are styled for the first column containing the contact form */
/* .col-md-6 {
  background-color: #ffffff;
}

.col-md-6 h2 {
  font-weight: bold;
  color: #2b2118;
} */

/* .col-md-6 input {
  height: 30px;
  width: 97%;
  margin-bottom: 10px;
} */

/* The example text in the Name and Email fields of the form are styled with opacity, adjusted font size, and padding */
/* #name[type=text] {
  padding-left: 4px; */
  /* font-size: 14px; */
  /* opacity: 0.7;
}

#email[type=text] {
  padding-left: 4px;
  /* font-size: 14px; */
  /* opacity: 0.7;
} */

/* The height and width of the Message box of the form are styled accordingly below */
/* #message {
  height: 150px;
  width: 97%;
  margin-bottom: 10px;
} */ 

/* Styling is added to the Submit button of the form, including a hover function */
/* #submit {
  background: #2b2118;
  color: #ffffff;
  height: 30px;
  width: 75px;
  border: none;
  /* font-size: 14px; */
  /* margin-top: 5px;
}

#submit:hover {
  background-color: #6f1a07;
/* } */ 

/*ALL CSS BELOW IS FOR THE PORTFOLIO PAGE */
#portfolio {
  margin-top: 15px;
}

.card-examples {
  background-color: #20603C;
}

.examples {
  background-color: #20603C;
}

.card-link {
  color: #ffffff;
}